<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DefaultConnection" value="Data Source=localhost;Initial Catalog=TestMSSQL_7.18.2.1236;User Id='sa';Password='0'" />
  </appSettings>
  <connectionStrings>
    <add name="Database" connectionString="Server=localhost;Database=TestMSSQL_7.18.2.1236;User Id=sa;Password=0;" />
  </connectionStrings>
</configuration>